/* .embed-responsive .card-img-top {
  object-fit: cover;
}*/

/* .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl{
    padding-right: 0;
    padding-left: 0;
}  */


body {
  margin-top: 68px;
}

.carousel-item {
    height: 65vh; 
    min-height: 800px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
  }

.navbar{
  width: 100%;

}

.first-slide, .second-slide, .third-slide {
  margin-top: -150px;
}




/* PANIER */
#panierContainer{
  height: 900px;
}

.panier {
  margin-top: 100px;
}

.boutonPanier {
  background-color: #dab989;
  background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */  color: #fff;
  border: none;
  border-radius: 10px;
}

footer {
  position: sticky;
  bottom: 15px; 
}