{% extends 'base.html.twig' %}

{% block title %}
	{{categorie.getLibelleCategorie}}
{% endblock %}

{% block body %}
	<section class="jumbotron text-center">
		<div class="container">
			<h1 class="jumbotron-heading">{{categorie.getLibelleCategorie}}</h1>
			<p class="lead text-muted mb-0">Parcourez les catégories</p>
		</div>
	</section>
	<div class="container-fluid">
		<div class="row row-cols-1 row-cols-md-3">
			{% for sous_categorie in sous_categories %}
				<div class="col mb-4">
					<div class="card h-100">

						<div class="card-body">
							<h5 class="card-title text-center">
								<a href="/souscategories/{{sous_categorie.getId}}">{{sous_categorie.getLibelleSousCategorie}}</a>
							</h5>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
