{% extends 'base.html.twig' %}

{% block title %}Hello ArticlesController!{% endblock %}

{% block body %}
<div class="row row-cols-1 row-cols-md-3">
{% for article in articles %}
  <div class="col mb-4">
    <div class="card h-100">
      <img src="{{asset('img/' ~ article.getImageArticle)}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{article.getLibelleArticle}}</h5>
        <p class="card-text">{{article.getPrixTtcArticle}} €</p>
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}
