{% extends 'base.html.twig' %}

{% block title %}Commande validée
{% endblock %}

{% block body %}
	<div class="panier mx-auto py-5 w-75 border border-light rounded text-center">
		<h5 class="mb-5">Votre commande numéro {{ id_commande }} a été validé, vous retrouverez l'historique de vos commandes ici ou Mon Compte > Mes commandes</h5>
		<a href="{{ path('acceuil')}}" class=" btn btn-warning"><i class="fa fa-angle-left"></i>Retour à l'accueil</a>
	</div>
{% endblock %}
