{% extends 'base.html.twig' %}

{% block title %}Choix adresse livraison
{% endblock %}

{% block body %}

<div class="container">
	{{ form_start(select_adresse_livraison_Form) }}
	<h1 class="h3 mb-3 font-weight-normal">Veuillez sélectioner une adresse de livraison</h1>
	<div class="row my-5">
		{{ form_widget(select_adresse_livraison_Form.adresselivraison,
			{'attr': {'class': 'my-3'}}) }}
	</div>

	<button type="submit" class="btn btn-primary">Suivant</button>

	{{ form_end(select_adresse_livraison_Form) }}
</div>

{% endblock %}